.agg {
    margin-top: 50px;
    font-family: sans serif;
}

.agg .container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.agg .contract .role {
    margin-bottom: 50px;
}

.agg .waiting {
    font-size: 1.5rem;
}

.agg .admin {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.agg .display {
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.agg .adminStage {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.agg .adminStage .stageForm {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.agg .adminStage .stageContent {
    margin-top: 50px;
    font-size: 1.2rem;
}

.agg .adminStage .stageForm .label {
    font-size: 1.5rem;
    margin-right: 30px;
}

.agg .adminStage .stageForm .value {
    font-style: italic;
    font-weight: 700;
    font-size: 3.0rem;
    font-family: sans serif;
}

.agg .contract .stage {
    margin-right: 20px;
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    align-self: center;
}

.agg .contract .item {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.agg .contract .item .label {
    margin-right: 100px;
    font-style: italic;
}

.agg .solicitInfo {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.agg .solicitInfo .item {
    font-weight: 700;
}

.agg .contract .item .value {
    font-weight: 700;
}

.agg .submitStatus {
    font-family: sans serif;
    font-size: 2rem;
}

.agg .contract {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    width: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.agg .contract .icon {
    align-self: center;
    margin-bottom: 50px;
}

.form {
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form .label {
    margin-right:10px ;
}

.form .input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    width: 100px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    margin-right:10px ;
}

.formLists {
    margin-top: 30px;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.col {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.agg .contract .buttonGroup {
    align-items: flex-end;
    margin-top: 40px;
}

.contract .contract-button {
    width: 100px;
}